<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons left menuToggle>
      <button ion-button icon-only>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{"languages" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list no-lines>
    <ion-item  *ngFor="let language of languages" (tap)="choose(language.value)">
      <ion-thumbnail slot="start">
        <img src={{language.img}}> {{language.label}}
      </ion-thumbnail>
    </ion-item>
  </ion-list>
</ion-content>
