page-language {
    img {
        width: 5px;
        height: 5px;
        margin-right: map_get($margin, small);
    }

    ion-list {
        padding-top: map_get($margin, small);;
    }

    .input-wrapper {
        background-color: #fff;
        text-align: center;
        border: 1px solid #7350FF;
        border-radius: 15px;
        width: 90%;
        margin-left: map_get($margin, medium);
        margin-right: map_get($margin, medium);
        margin-top: map_get($margin, bitsmall);
        margin-bottom: map_get($margin, small);
      }

    ion-avatar, ion-thumbnail {
        display: inline-flex;
        line-height: 1;
    }

    .item ion-thumbnail {
        min-width: 20px;
        min-height: 20px;
    }

    .item ion-thumbnail ion-img, .item ion-thumbnail img {
        width: 20px;
        height: 20px;
    }

   
}
