<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{"filters" | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{"filters" | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list no-lines>
    <ion-row>
      <ion-col col-12>
        <ion-item class="selected">
          <ion-label fixed color="primary"> {{"state" | translate }} </ion-label>
          <ion-select [(ngModel)]="state" (ionChange)="setState(state)">
            <div class="input_area">
              <ion-option *ngFor="let state of states" [value]="state">
                {{state}}
              </ion-option>
            </div>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col col-12>
        <ion-item class="selected">
          <ion-label fixed color="primary"> {{"tipos" | translate }} </ion-label>
          <ion-select [(ngModel)]="tipo" (ionChange)="setTipo(tipo)">
            <div class="input_area">
              <ion-option *ngFor="let tipo of tipos" [value]="tipo">
                {{tipo}}
              </ion-option>
            </div>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <div padding>
      <button ion-button block (click)="apply()">{{"filter" | translate }}</button>
    </div>
  </ion-list>
</ion-content>