<ion-content padding>
  <div class="center_screen">
    <div class="input_area">
      <ion-icon name="md-person"></ion-icon>
      <input type="text" [(ngModel)]="account.user" placeholder="User Name">
    </div>
    <div class="input_area">
      <ion-icon name="md-lock"></ion-icon>
      <input type="password" [(ngModel)]="account.password" placeholder="Password">
    </div>
    <button ion-button full color="primary" round [disabled]="account.user.length < 5 || account.password.length <5" block (tap)="login()">
      Login
    </button>
    <div class="forgotpassword_section">
      <button ion-button icon-left clear small color=extralight (tap)="gotoforgotpassword()">
        <ion-icon name="md-key"></ion-icon>
        {{"forgot" | translate }}
      </button>
      <button ion-button icon-left clear small color=extralight (tap)="toSingUp()">
        <ion-icon name="md-person-add"></ion-icon>
      {{"new_member" | translate }}
      </button>
    </div>
  </div>
</ion-content>
