<ion-header>
  <ion-navbar>
    <ion-title>{{"CrearFactura" | translate}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form [formGroup]="myForm">
    <ion-list>
      <ion-item>
        <ion-input type="text" placeholder="Descripcion" [value]='descripcion' formControlName="descripcion">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="Cantidad" [value]="cantidad" formControlName="cantidad"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="Importe" [value]='importe' formControlName="importe"></ion-input>
      </ion-item>
    </ion-list>
  </form>

  <ion-buttons center>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <button ion-button icon-left (click)="saveData(appointment.appointmentId, appointment.date)">
      <ion-icon name="md-checkmark">&nbsp;Aceptar</ion-icon>
    </button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button ion-button icon-left (click)="cancel()">
      <ion-icon name="md-close">&nbsp;Cancelar</ion-icon>
    </button>
  </ion-buttons>
</ion-content>