<ion-tabs selectedIndex=0>
  <ion-tab [root]="tab1Root" tabIcon="car"></ion-tab>
  <ion-tab [root]="tab2Root" tabIcon="md-calendar"></ion-tab>
  <ion-tab [root]="tab3Root" tabIcon="md-build"></ion-tab>
  <ion-tab [root]="tab4Root" tabIcon="contacts"></ion-tab>
</ion-tabs>
