<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{"Detalles" | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list no-lines class="lista">
    <ion-item>
      <small>{{"Marca" | translate}}</small><br>
      <p>{{car.name}}</p>
    </ion-item>
    <ion-item>
      <small>{{"Coste" | translate}}</small><br>
      <p>{{car.km}} KM</p>
    </ion-item>
    <ion-item>
      <small>{{"Anio" | translate}}</small><br>
      <p>{{car.ano}}</p>
    </ion-item>
    <ion-item>
      <small>{{"Combustible" | translate}}</small><br>
      <p>{{car.combustible}}</p>
    </ion-item>
    <ion-item>
      <small>{{"Color" | translate}}</small><br>
      <p>{{car.color}}</p>
    </ion-item>
    <ion-item>
      <small>{{"Potencia" | translate}}</small><br>
      <p>{{car.potencia}} cv</p>
    </ion-item>
  </ion-list>
</ion-content>