page-car-detail {
    ion-content {
      margin-top: 0px;
 
      .scroll-content {
        background-color: map_get($colors, bg);
        margin-bottom: map_get($margin, bitsmall);
  
        small {
          color: map_get($colors, primary) !important;
        }
  
        .form_attributes {
          a {
            text-align: left;
          }
  
          input {
            color: map_get($colors, primary) !important;
            border: 1px;
            text-align: center;
            border-radius: 10px;
            margin: map_get($margin, bitsmall);
            border-style: solid;
            border-color: map_get($colors, primary) !important;
          }
        }
  
        ion-item {
          background-color: #fff;
          border-radius: 10px;
          margin-top: 2px;
          margin-bottom: map_get($margin, bitsmall);
        }
  
        .text_format {
          h4 {
            color: map_get($colors, primary) !important;
            font-size: map_get($font, largemedium);
            padding: 0;
            margin: 0 auto;
            display: inline;
          }
  
          p {
            font-size: map_get($font, largemedium);
            display: inline;
          }
        }
  
        .form_headers {
          p {
            color: map_get($colors, primary) !important;
            border: 1px;
            border-style: solid;
            border-color: map_get($colors, primary) !important;
            background-color: map_get($colors, lightbg);
            font-size: map_get($font, largemedium);
            padding: 1em;
            width: 100%;
  
            button {
              display: inline-block;
              margin: auto;
              height: 30px;
              font-size: map_get($font, largemedium);
            }
          }
        }
      }
    }
  }
