page-forgot-password {
    ion-content {
        //background-color: map_get($colors, bg) !important;
        .forgotpassword {
            float: left;
            width: 100%;
            .image_section {
                position: relative;
                background-color: map_get($colors, primary);
                img {
                    max-width: 70%;
                    margin: auto;
                    display: table;
                }
            }
            .input_section {
                float: left;
                width: 100%;
                padding: 16px;
                position: relative;
                h3 {
                    text-transform: capitalize;
                    color: map_get($colors, dark);
                    font-size: map_get($font, extramedium);
                    text-align: center;
                }
                p {
                    color: map_get($colors, dark);
                    font-size: map_get($font, small);
                    text-align: center;
                }
                .input_area {
                    display: flex;
                    background-color: #f3f3f3;
                    border-radius: 60px;
                    height: map_get($height, btnheight);
                    overflow: hidden;
                    margin: map_get($margin, small) 0;
                    border: 1px solid map_get($colors, bordercolor);
                    ion-icon {
                        margin: auto;
                        padding: 0 16px;
                        color: map_get($colors, lightdark);
                        font-size: map_get($font, extramedium);
                    }
                    input {
                        border: 0;
                        flex: 1;
                        background-color: transparent;
                        margin: auto;
                        height: map_get($height, btnheight);
                        font-size: map_get($font, medium);
                    }

                    input::-webkit-input-placeholder {
                        color: map_get($colors, lightdark) !important;
                        font-size: map_get($font, medium) !important;
                    }

                    input:-moz-placeholder {
                        /* Firefox 18- */
                        color: map_get($colors, lightdark) !important;
                        font-size: map_get($font, medium) !important;
                    }

                    input::-moz-placeholder {
                        /* Firefox 19+ */
                        color: map_get($colors, lightdark) !important;
                        font-size: map_get($font, medium) !important;
                    }

                    input:-ms-input-placeholder {
                        color: map_get($colors, lightdark) !important;
                        font-size: map_get($font, medium) !important;
                    }
                }
                .button {
                    margin: auto;
                    display: table;
                    border-radius: 50px;
                    box-shadow: none;
                }
            }
        }
    }
}
