<ion-header>

  <ion-navbar color=primary>
    <ion-title> Recuperación de contraseña</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="forgotpassword">
    <div class="image_section">
      <img src="assets/img/forgotpassword.svg" alt="">
    </div>
    <div class="input_section">
      <h3>¿Has olvidado tu contraseña?</h3>
      <p>Introduce el email para recuperarla</p>
      <div class="input_area">
        <ion-icon name="md-mail"></ion-icon>
        <input type="text">
      </div>
      <button ion-button full color=primary margin-top (tap)="resetPassword()">
        Recuperar contraseña
    </button>
    </div>
  </div>
</ion-content>