page-car-create {
      ion-content {
            .scroll-content {
                  background-color: map_get($colors, bg);
                  margin-bottom: map_get($margin, bitsmall);

                  .items {
                        background-color: #fff;
                        border-radius: 10px;
                        margin-top: map_get($margin, bitsmall);
                        margin-bottom: 10px;
                        padding: 0px 10px 0px 0px;
                        height: 55px;

                        .dos{
                              margin-left:8px;
                        }   
                  }

                  .error {
                        color: rgb(223, 62, 62);
                        font-size: 11px;
                      }
            }
      }
}
