<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{"CrearCoche" | translate}}</ion-title>
    <ion-buttons right>
      <button ion-button (click)="cancel()">
        <ion-icon name="md-close"></ion-icon>
      </button>
      <button ion-button (click)="saveData()" [disabled]="marca == null || color == null || matricula == null || km == null || potencia == null || ano == null || combustible == null">
        <ion-icon name="md-checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <form [formGroup]="myForm">
    <ion-list class="lista" >
      <ion-item class="items">
        <ion-input placeholder="Marca" [(ngModel)]="marca" type="text" required="true" clearInput=true formControlName="marca" class="dos"></ion-input>
      </ion-item>
      <ion-item class="items">
        <small>{{"Matricula" | translate}}</small><br>
        <ion-input placeholder="Matricula" [(ngModel)]="matricula" type="text" required="true" clearInput=true class="dos" formControlName="matricula"></ion-input>
      </ion-item>
      <div class="error" no-lines color="none" *ngIf="( myForm.get('matricula').hasError('minlength') || myForm.get('matricula').hasError('maxlength'))">
        <div *ngIf="myForm.get('matricula').touched && myForm.get('matricula').hasError('minlength') ">
          Mínimo 4 números y 3 caracteres 
        </div>
      </div>
      <ion-item class="items">
        <ion-input type="text" [(ngModel)]="color"placeholder="Color" formControlName="color" class="dos"></ion-input>
      </ion-item>
      <ion-item class="items">
        <ion-input type="number" [(ngModel)]="km" placeholder="Kilometraje" required="true" clearInput=true min="0" max="900000"
          formControlName="km" class="dos"></ion-input>
      </ion-item>
      <ion-item class="items">
        <ion-input type="number" [(ngModel)]="potencia" placeholder="Potencia (cv)" required="true" clearInput=true min="0" max="600"
          formControlName="potencia" class="dos"></ion-input>
      </ion-item>
      <ion-item class="items" >
        <ion-datetime placeholder="Año de fabricación" [(ngModel)]="ano" required="true" clearInput=true displayFormat="YYYY" formControlName="ano"> </ion-datetime>
      </ion-item>
      <ion-item class="items">
        <ion-select  [(ngModel)]="combustible" formControlName="combustible" placeholder="Combustible">
          <ion-option>Gasoil</ion-option>
          <ion-option>Gasolina</ion-option>
          <ion-option>Eléctrico</ion-option>
          <ion-option>Híbrido</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </form>
</ion-content>