page-profile {
  .scroll-content { 
    padding-bottom: 0 !important; 
    overflow: hidden;
 }
  .card-background-page {
    position: relative;
    font-family: 'Titillium Web', sans-serif;

    h2{
      margin-left:10px;
    }
/*********** AÑADIDO POR ALEX ********/
    h1{
      text-align: center;
    }

    .label{
      font-size: small !important;
      text-align: center !important;
    }

    ion-list {
      margin-top: 0px !important;
      margin-right: auto !important;
      margin-bottom: 10px !important;
      margin-left: auto !important;
      padding-top: 0px;
  }

    ion-item {
      background-color: #fff;
      text-align: left;
      border: 1px solid #7350FF;
      border-radius: 15px;
      width: 90%;
      margin-left: map_get($margin, medium);
      margin-right: map_get($margin, medium);
      margin-top: map_get($margin, bitsmall);
      margin-bottom: map_get($margin, bitsmall);
    }
/************************/
    ion-card {
      position: relative;
      text-align: center;
      margin: 0;
      width: 100%;
      box-shadow: none;
      overflow: visible;
      &:after {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: black;
        opacity: 0.4;
        content: '';
      }
      .bg_curve {
        position: absolute;
        bottom: -10px;
        right: -55px;
        left: -55px;
        height: 30px;
        background-color: #ffffff;
        border-radius: 70%;
        z-index: 1;
      }
    }
  }
}
