<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons left menuToggle>
      <button ion-button icon-only>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{"profile" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content scroll="false">
<div class="card-background-page">
  <ion-card>
    <img src="assets/imgs/cover.jpg"/>
    <div class="bg_curve"></div>
  </ion-card>

    <h2>¡Hola,{{username}}!</h2>

  <h1>{{"promocion" | translate }}</h1>
    <div>
      <ion-list>
        <ion-item>
          <ion-label (click)="setPromo(15)">
            <ion-icon name="ios-pricetag-outline" size="small" slot="start"></ion-icon>
            15% DTO - Cambio 4 ruedas
          </ion-label>      
        </ion-item>
        <ion-item>
          <ion-label (click)="setPromo(10)">
            <ion-icon name="ios-pricetag-outline" size="small" slot="start"></ion-icon>
            10% DTO - Cambio de aceite
          </ion-label>      
        </ion-item>
        <ion-item>
          <ion-label (click)="setPromo(10)">
            <ion-icon name="ios-pricetag-outline" size="small" slot="start"></ion-icon>
            10% DTO - Puesta a punto ITV
          </ion-label>      
        </ion-item>
      </ion-list>
    </div>
  </div>
      <ion-list padding no-margin>
        <ion-item>
          <ion-label style="color:#b7b7b7;font-size:14px;text-align: center;">
            <ion-icon name="ios-information-circle-outline" size="small" slot="start"></ion-icon>
            {{"information" | translate }}
          </ion-label>      
        </ion-item>
      </ion-list>
</ion-content>
