page-contact {
    .scroll-content { 
        padding-bottom: 0 !important; 
     }

    ion-textarea {
        border: 1px;
        border-style: solid;
        border-color: map_get($colors, primary) !important;
        padding: 10px;
        height: 200px;
        display: block;
    }

    .list .item-input:last-child {
        border-bottom: none;
    }

    textarea.text-input {
        display: block;
        height: calc(100% - 8px - 8px);
    }

    ion-list {
        padding-right: 10px;
    }

    /* Esto es para eliminar las focus lines de los inputs*/
    .item-md.item-block .item-inner,
    .item-md.item-input.input-has-focus .item-inner,
    .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner,
    .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner,
    .list-md .item-input.input-has-focus:last-child,
    .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child,
    .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
        border-bottom: none;
        box-shadow: none;
    }
    .list-md .item-input.input-has-focus:last-child .item-inner,
    .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child .item-inner,
    .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child .item-inner {
        box-shadow: none;
    }
}
