<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons left menuToggle>
      <button ion-button icon-only>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{"contact" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scroll="false">
    <ion-list no-lines>
      <ion-item>
        <ion-icon name="ios-person-outline" item-start></ion-icon>
        <ion-label stacked>{{"name" | translate}}</ion-label>
        <ion-input type="text" placeholder="{{'completeName' | translate}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="ios-mail-outline" item-start></ion-icon>
        <ion-label stacked>{{"mail" | translate}}</ion-label>
        <ion-input type="email" [(ngModel)] = 'to' placeholder="Email"></ion-input>
      </ion-item>
      <ion-item>
          <ion-textarea no-lines [(ngModel)] = 'body' placeholder="{{'input' | translate}}"></ion-textarea>
      </ion-item>
    </ion-list>
    <div padding>
      <button ion-button block type="submit" (click)="send()">{{"enviar" | translate}}</button>
    </div>
</ion-content>