$font-path: "../assets/fonts";
@import "ionic.globals"; // Shared Variables

$colors: (
  primary: #7350FF,
  lightprimary: #EDE7F6,
  danger: #f53d3d,
  dark: #525252,
  lightdark: #b7b7b7,
  light: #f8f8f8,
  extralight: #fff,
  state1: #ffc409,
  state2: #2dd36f,
  bg: #f1f4f5,
  lightbg: #f8f8f8,
  bordercolor: rgba(183, 183, 183, 0.39),
); 
$font: (
  big: 2.3rem,
  extramedium: 1.9rem,
  largemedium: 1.6rem,
  medium: 1.5rem,
  small: 1.5rem,
  bitsmall: 1.4rem,
  smallbtn: 1.3rem,
); 
$margin: (
  big: 32px,
  medium: 16px,
  small: 10px,
  bitsmall: 4px,
); //padding
$padding: (
  sixteen: 16px,
  eighteen: 8px,
);
$height: (
  btnheight: 4rem,
  roundbtn: 5rem,
  propic: 20rem,
  smallbtn: 3rem,
  large: 7rem,
);
$width: (
  logo: 14rem,
  roundbtn: 5rem,
  propic: 20rem,
  btnwidth: 4rem,
);
$radius: (
  big: 8px,
  medium: 4px,
  small: 2px,
); // App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here
// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.
@import "ionic.theme.default"; // Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/
@import "ionic.ionicons"; // Fonts
// --------------------------------------------------
@import "roboto";
@import "noto-sans";