.foto {
  display: block;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-top: 20%;
} 

.boton2 {
  height: 40px;
  width: 140px;
  position: relative;
  top: 0%;
  left: 30%;
  bottom: 50%;
  margin-top:45px; 
}

.texto{
  margin-top:20px;
}

ion-list {
  margin-top: 0px !important;
  margin-right: auto !important;
  margin-bottom: 10px !important;
  margin-left: auto !important;
  padding-top: 10px;

  

  .items {
    padding: 0 !important;
    --inner-padding-end: 0px;
    --inner-min-height: unset !important;
    --padding-start: 0;
    --highligh-color-focused: var(--transparent) !important;
    margin-top:0px;
    margin-left: 8px;

    .item_inner {
      overflow: hidden;
      width: 100%;
      display: flex !important;
      align-items: center;
      

      .date_time {
        background: #7350ff;
        border-radius: 3px 0px 0px 3px;
        width: 90px;
        height: 90px !important;
        padding: 10px 12px;
        margin-bottom: 10px !important;

        h3 {
          margin: 1;
          color: #fdfdfd;
          font-size: 1.25rem;
          padding-bottom: 5px;
        }

        h4 {
          margin: 0;
          color: #fdfdfd;
          font-size: 1rem;
          padding-bottom: 7px;
        }

        h5 {
          margin: 0;
          color: #fdfdfd;
          font-size: 1rem;
          padding-bottom: 5px;

          ion-icon {
            color: #cdd6ed;
          }
        }
      }

      .appointment_details {
        border: 2px solid #7350ff;
        border-left: 0;
        border-radius: 1px 3px 3px 0px;
        width: 220px;
        height: 90px !important;
        padding: 3px 12px;
        margin-bottom: 10px !important;

        .bill{
          display: flex;
          height: 40px !important;
          max-height: 40px!important;

           button{
             display:rigth;
             margin-left: 30px;
           }


        h3 {
          margin: 0;
          margin-top: 8px !important;  
          margin-bottom: 10px !important;
          color: var(--text-dark);
          font-size: 2rem;
          padding-bottom: 1px;
          padding-top: 0px;
          font-weight: 700;
          float:left;
        }
      }

        h4 {
          margin: 0;
          color: var(--text-light);
          font-size: 1.2rem;
          padding-bottom: 5px;
        }

        h5 {
          margin: 0;
          color: var(--text-dark);
          font-size: 0.77rem;
          font-weight: 600;
        }

        .detalles{
          display: flex;
 
        .administrator_details {
          border: 1px solid #7350ff;
          border-radius: 3px 3px 3px 3px;
          width: 100px !important;
          height: 35px !important;
          padding: 1px 1px !important;
          font-size: 0.77rem;
          float:left;
          margin-right: 10px;

          .boton {
            height: 30px !important;
            max-height: 30px !important;
            min-height: 0px !important;
          }

          ion-select {
            padding: 6px;
            width: 90px !important;
            font-size: 1rem;
            max-width: 90% !important;
            height: 30px !important;
          }
        }
        .guardar {
          width: 100%;
          position: 1px 1px 1px 1px;
          float: rigth;
        }
      }
    }
    }
  }
}
