<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons left menuToggle>
      <button ion-button icon-only>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{"ListaCitas" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div *ngIf="appointments.length==0">
    <div *ngIf="username!='administrator'">
      <img class="foto" src="../assets/imgs/calendario.png">
      <ion-title text-center class="texto">{{"Cita1"|translate}}</ion-title>
      <button class="boton2" ion-button icon-only (click)="saveData()">
        {{"Cita2"|translate}}
      </button>
    </div>
  </div>
  <div *ngIf="appointments.length>0">
    <button ion-button clear color="primary" icon-start (tap)="filters()">
      <ion-icon name='ios-funnel'></ion-icon>
      {{"filters" | translate }}
    </button>
    <button ion-button clear color="primary" style="float:right" icon-start (tap)="cleanFilters()">
      <ion-icon name='ios-backspace-outline'></ion-icon>
      {{"clean" | translate }}
    </button>
    <form [formGroup]="myForm">
      <ion-list no-lines class="lista">
        <ion-item class="items" (ionInput)="getCars($event)" *ngFor="let car of cars">
          <div (ionInput)="getAppointment($event)" *ngFor="let appointment of car.appointmentList" class="item_inner d-flex">
            <div class="date_time">
              <h3>{{appointment.date}}</h3>
              <h4>{{appointment.hours}} h</h4>
              <h5 class="d-flex">
                <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                {{appointment.tipo}}
              </h5>
            </div>
            <div class="appointment_details">
              <div class="bill">
                <h3>{{car.name}}</h3>
                <button *ngIf="username=='administrator'" ion-button clear small color="item1" icon-start
                  (click)="addBill(appointment)">
                  <ion-icon name='md-clipboard'></ion-icon>
                </button>
                <button *ngIf="username=='administrator'" ion-button icon-left clear small color="primary"
                  (tap)="deleteAppointment(appointment.appointmentId)">
                  <ion-icon name='ios-trash-outline'></ion-icon>
                </button>
                <button *ngIf="username!='administrator' && appointment.bill != null" ion-button clear small
                  color="item1" icon-start (click)="downloadPdf(appointment)">
                    <ion-icon name="md-download" size="small" slot="start"></ion-icon>
                    Factura
                </button>
              </div>
              <h4 *ngIf="username!='administrator'">{{appointment.state}}</h4>
              <div class="detalles">
                <div *ngIf="username=='administrator'" class="administrator_details">
                  <ion-item class="boton">
                    <ion-select formControlName="estado" placeholder="{{appointment.state}}">
                      <ion-option>Pendiente</ion-option>
                      <ion-option>En curso</ion-option>
                      <ion-option>Finalizado</ion-option>
                      <ion-option>Cancelado</ion-option>
                    </ion-select>
                  </ion-item>
                </div>
                <div *ngIf="username=='administrator'" class="buttom_details">
                  <button ion-button icon-left color="primary" [disabled]="!myForm.valid" icon-start
                    (click)="setState(appointment.appointmentId)" class="guardar">
                    <ion-icon name="md-checkmark"></ion-icon>
                    Guardar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </ion-item>
      </ion-list>
    </form>
  </div>
</ion-content>