<ion-menu side="left" [content]="content" persistent="true">
    <ion-header>
        <ion-toolbar color="primary">
              <button ion-button menuToggle>
                <ion-icon name="menu"></ion-icon>
              </button>
            <ion-toolbar>
                <ion-title>{{"Opciones" | translate}}</ion-title>
            </ion-toolbar>
        </ion-toolbar>
    </ion-header>
<ion-content>
    <ion-list>
        <button ion-item (click)="Coches()">
            <ion-icon name="ios-car-outline"></ion-icon>
            Lista de Coches
        </button>
        <button ion-item (click)="contact()">
            <ion-icon name="ios-mail-outline"></ion-icon>
            {{"contact" | translate}}
        </button>
        <button ion-item (click)="languages()">
            <ion-icon name="ios-globe-outline"></ion-icon>
            {{"languages" | translate }}
        </button>
        <button ion-item (click)="logout()">
          <ion-icon name="ios-log-out"></ion-icon>
            {{"logout" | translate}}
        </button>
    </ion-list>
</ion-content>
</ion-menu>
<ion-nav id="nav" #content [root]="rootPage"></ion-nav>
