page-appointment {
    ion-content {
        .promo{
            margin-left: 25px;
            margin-bottom: -15px;
        }
        .scroll-content {
            background-color: map_get($colors, bg);
            margin-bottom: map_get($margin, bitsmall);
            .lista {
                
                padding: 16px;
                padding-bottom: 1px;
                margin-bottom: 0px;

                .etiqueta{
                    margin-bottom: 1px;
                    margin-top: 10px;
                }

                .item_inner {
                    background-color: #fff;
                    border-radius: 10px;
                    margin-top: map_get($margin, bitsmall);
                    margin-bottom: 0px;
                    padding: 0px 10px 0px 10px;
                    height: 55px;

                    button{
                        padding-left: 50px;
            width: 300px;
            border-radius: 3px 3px 3px 3px;
                    }
                }
            }
        }

        .horario {
            padding-left: 20px;
            padding-right:20px;
            width: 350px;
            border-radius: 3px 3px 3px 3px;
            text-align: center;
        }

        .bottom{
            padding-left:110px;
        }

        .card-background-page {
            ion-card {
                margin-bottom: 0px;

                .datos {
                    display: flex;
                    margin-top: 10px;
                    margin-bottom: 5px;
                    .card-title {
                        margin-top: 3px;
                        margin-left: 40px;
                        display: left;
                    }
                    .coches {
                        display: right;

                        .card-subtitle {
                            margin-left: 70px;
                            margin-bottom: 5px;
                        }
                    }
                }
            }
        }
    }
}
