<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons left menuToggle>
      <button ion-button icon-only>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <div *ngIf="username!='administrator'">
      <ion-title>{{'CrearCita'|translate}}</ion-title>
    </div>
    <div *ngIf="username=='administrator'">
      <ion-title>{{'ListaUsers'|translate}}</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div *ngIf="username=='administrator'">
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
        refreshingText="Refreshing..."></ion-refresher-content>
    </ion-refresher>
    <div class="card-background-page">
      <ion-list no-lines *ngFor="let user of users">
        <ion-item *ngIf="user.name!='administrator'">
          <ion-card>
            <div class="datos">
            <div class="card-title">
              <b>{{user.name}} </b> 
            </div>
            <div class="coches">
            <div *ngFor="let car of user.carList" class="card-subtitle">
             {{car.name}}
            </div>
            </div>
          </div>
            <button ion-button full color="primary" icon-start (click)="deleteUser(user.email)">
              <ion-icon name="ios-trash-outline"></ion-icon>
              {{"Eliminar" | translate}}
            </button>
          </ion-card>
        </ion-item>
      </ion-list>
    </div>
  </div>
  <div *ngIf="username!='administrator'" class="form">
    <form [formGroup]="myForm">
      <button *ngIf="promo!=null" ion-button clear color="primary" icon-start class="promo">
        OBTENDRÁ UN {{promo}}% DTO EN SU FACTURA
      </button>
      <ion-list class="lista">
          <div class="etiqueta"><b>{{'SelecCoche' | translate}}</b></div>
            <ion-item class="item_inner">
              <ion-select formControlName="car" (ngModelChange)="getCar($event)" placeholder="coche">
                <ion-option *ngFor="let car of cars" [value]="car.carId">
                  {{car.name}}
                </ion-option>
              </ion-select>
            </ion-item>
            <div class="etiqueta"><b>{{'SelecTipo' | translate}}</b></div>
            <ion-item class="item_inner" lines="none">
              <ion-icon name='md-add-circle'></ion-icon>
              <ion-select formControlName="tipo" placeholder="tipo">
                <ion-option>Reparacion</ion-option>
                <ion-option>Mantenimiento</ion-option>
              </ion-select>
            </ion-item>
            <div class="etiqueta"><b>{{'SelecFecha' | translate}}</b></div>
            <ion-item class="item_inner">
              <ion-datetime displayFormat="DD/MM/YYYY" min="2020" max="2025" formControlName="fecha"
                placeholder="fecha">
              </ion-datetime>
            </ion-item>
            <div class="etiqueta"><b>{{'SelecHora' | translate}}</b></div>
            <ion-item class="item_inner">
              <ion-datetime displayFormat="h:mm A" minuteValues="0,30" formControlName="hora" placeholder="hora">
              </ion-datetime>
              
            </ion-item>
      </ion-list>
    </form>
    <div class="horario">
      <ion-card>
        <b>{{"Horario1" | translate}}</b> <br>
        <b>{{"Horario2" | translate}}</b><br>
        <b>09.00h - 18:30h</b>
      </ion-card>
    </div>
  </div>
  
  <div class="bottom" *ngIf="username!='administrator'">
    <button size="large" shape="block" ion-button color="primary" icon-start (click)="setAppointment()">
      <ion-icon name='md-add-circle'></ion-icon>
      Añadir Cita
    </button>
  </div>
</ion-content>