<ion-content>
  <div class="slider_area">
    <ion-slides pager [autoplay]="2500">
      <ion-slide>
        <div class="slider_content">
          <img class="logo" src="assets/imgs/logo.svg">
          <h3>Prueba 1</h3>
          <small>Pruebita 1</small>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="slider_content">
          <img class="specification_img" src="assets/imgs/acceptfriend.svg">
          <h3>Prueba 2</h3>
          <small>Pruebita 2</small>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="slider_content">
          <img class="specification_img" src="assets/imgs/chat.svg">
          <h3>Prueba 3</h3>
          <small>Pruebita 3</small>
        </div>
      </ion-slide>

    </ion-slides>
  </div>
  <div class="button_section">
    <button block ion-button color="primary" outline round (tap)="gotologin()">EMPECEMOS</button>
  </div>
</ion-content>