page-cars {
  .texto {
    margin-top: 20px;
  }
  .boton2 {
    height: 40px;
    width: 140px;
    position: relative;
    top: 0%;
    left: 30%;
    bottom: 50%;
    margin-top: 45px;
  }
  .lista {
    .items {
      margin-left:18px;
      .options {
        padding-top: 13px;
        padding-bottom: 13px;
      }
      .lista_coches {
        padding-left: 0px;
        padding-right: 20px;
        .coche_name {
          border-top: 2px solid #7350ff;
          border-right: 2px solid #7350ff;
          border-left: 2px solid #7350ff;

          .nombres {
            padding-left: 10px;
            h3 {
              margin-top: 10px;
              margin-bottom: 10px;
              font-weight: 800;
              font-size: 2rem;
            }
            h2 {
              margin-bottom: 10px;
            }
          }
        }
        .coche_detalle {
          padding: 5px 20px !important;
          .guardar {
            margin-left: 50px;
            width: 100%;
            float: rigth;
          }
        }
      }
    }
  }
  .foto {
    display: block;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: 20%;
  }
  .scroll-content {
    display: flex;
    flex-direction: column;

    .slider_area {
      flex: 4;

      .swiper-pagination-bullet {
        background-color: map_get($colors, extralight);
      }

      ion-slides {
        ion-slide {
          background-color: map_get($colors, primary);

          .slider_content {
            padding: map_get($padding, sixteen);

            .logo {
              width: map_get($width, logo);
              margin-bottom: map_get($margin, big);
            }

            .specification_img {
              width: 70%;
              margin-bottom: map_get($margin, medium);
            }

            h3 {
              text-transform: capitalize;
              color: map_get($colors, extralight);
              font-size: map_get($font, big);
            }

            small {
              color: map_get($colors, light);
              font-size: map_get($font, small);
            }
          }
        }
      }

      .skip_btn {
        text-decoration: none;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        font-size: map_get($font, small);
      }
    }

    .button_section {
      padding: 16px;
      flex: 1;
      display: flex;

      .button {
        width: 100%;
        margin: auto;
      }
    }
  }
}
