<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons left menuToggle>
      <button ion-button icon-only>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title *ngIf="username!='administrator'">{{"cochepage"|translate}}</ion-title>
    <ion-title *ngIf="username=='administrator'">{{"cocheadmin"|translate}}</ion-title>
    <ion-buttons end>
      <div *ngIf="cars.length>=1">
        <button ion-button icon-only (click)="saveData()">
          <ion-icon name="add"></ion-icon>
        </button>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div *ngIf="cars.length>=1">
    <div *ngIf="username!='administrator'">
      <ion-list no-lines class="lista">
        <ion-item-sliding class="items" (ionInput)="getUserCars($event)" *ngFor="let car of cars">
          <ion-item (tap)="getDetail(car)" class="lista_coches">
              <div class="coche_name">
                <div class="nombres">
                <h3>{{car.name}}</h3>
                <h2>{{car.matricula}}</h2>
              </div>
              <button ion-button full icon-start class="detalle">
                <ion-icon name="md-eye"></ion-icon>
                Ver detalle
              </button>
            </div>
          </ion-item>
          <ion-item-options side="left" class="options">
            <div *ngIf="username!='administrator'">
            <button ion-button color="danger" (click)="deleteCar(car.carId)">
              <ion-icon name="md-trash"></ion-icon>
            </button>
          </div>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>
  </div>

  <div *ngIf="cars.length==0">
    <div *ngIf="username!='administrator'">
      <img class="foto" src="../assets/imgs/successful.png">
      <ion-title text-center class="texto">{{"Coche1"|translate}}</ion-title>
      <button class="boton2" ion-button icon-only (click)="saveData()">
        {{"Coche2"|translate}}
      </button>
    </div>
  </div>
  <div *ngIf="carsState.length>=1">
    <div *ngIf="username=='administrator'">
      <ion-list no-lines class="lista">
        <ion-item-sliding class="items"  (ionInput)="getCarsAdmin($event)" *ngFor="let carSt of carsState" class="items">
          <ion-item class="lista_coches" (tap)="getDetail(carSt)">
            <div class="coche_name">
              <div class="nombres">
              <h3>{{carSt.name}}</h3>
              <h2>{{carSt.matricula}}</h2>
            </div>
            <button ion-button full icon-start class="detalle">
              <ion-icon name="md-eye"></ion-icon>
              Ver detalle
            </button>
          </div>
          </ion-item>
        </ion-item-sliding>
      </ion-list>
    </div>
  </div>
</ion-content>