<ion-content padding>
  <div class="center_screen">
      <div class="input_area">
          <ion-icon name="md-person"></ion-icon>
          <input type="text" [(ngModel)]="account.name" placeholder="User Name">
        </div>
    <div class="input_area">
      <ion-icon name="md-mail"></ion-icon>
      <input type="text" [(ngModel)]="account.email" placeholder="E-mail">
    </div>
    <div class="input_area">
      <ion-icon name="md-lock"></ion-icon>
      <input type="password" [(ngModel)]="account.password" placeholder="Password">
    </div>
    <button ion-button full color="primary" round [disabled]="account.name.length < 5 || account.password.length <5" block (tap)="signup()">
      Registrarse
    </button>
    <button ion-button full color="primary" round block (tap)="back()">
        Cancelar
      </button>
      <button ion-button full color="primary" round block (tap)="back()" class="datos">
        Su información está protegida y es <br>
        para uso exclusivo de esta aplicación
    </button>
  </div>
</ion-content>
